/* CSS declarations go here */
.hidden_div{
	display : none;
    margin-top: 10px;
}

body {
    margin-top: 60px;
}

.user-btns {
    margin-right: 3px;
}

.brand_icon_navbar {
    max-height: 20px;
    max-width: 20px;
}